 /*---------------------------------------------------------------------------\
@author: Josh Hoeg
@company: Raptor Solutions & Veltio Academy

The CSS file below is seperated into clear and definied sections all of the code
below was written by myself and does not infringe on any copyrighted material.
It was created for a company called Boxed Smile, and if for any reason it is used
for other reasons.... Well haha not much I can do about it so go for it. S/O
opensource.
\---------------------------------------------------------------------------*/


 /*---------------------------------------------------------------------------\
|                                   Default                                   |
\---------------------------------------------------------------------------*/
*{
  font-family: 'Roboto Slab', serif;
}
body{
  padding-top: 100px;
}
@media only screen and (max-width: 768px) {
  body{
    padding-top: 50px;
  }
}



 /*---------------------------------------------------------------------------\
|                        Sections and Backgrounds                             |
\---------------------------------------------------------------------------*/
section{
  width: 100%;
  background-size: cover;
}

#header{
  height: 916px;
  background-image: url("../images/bg/headerbg.png");
}
#what{
  height: 800px;
  background: #1795FA;
}
#blog{
  height: 900;
  background: #EDFAFF;
}
#contact{
  height: 1920px;
  background-image: url("../images/bg/contactbg.png");
}
#footer{
  height: 350px;
  background: #C6EFFF;
}
@media only screen and (max-width: 768px) {
  #header{
    height: 600px;
    background-image: url("../images/bg/headermobilebg.png");
  }
  #what{
    height: 1752px;
    background-image: url("../images/bg/whatmobilebg.png");
  }
  #blog{
    height: 1400px;
  }
  #contact{
    height: 2221px;
    background-image: url("../images/bg/contactmobilebg.png");
  }
}






.navbar-custom {
  background: #2C3E50;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
.navbar-custom .navbar-brand {
  color: white;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: white;
}
.navbar-custom .navbar-nav li a:hover {
  color: #18BC9C;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #18BC9C;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #18BC9C;
}
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #18BC9C;
  color: white;
  border-color: #18BC9C;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
